/* ISC Scope theme settings */

:root {
  /* set for default theme detection */
  color-scheme: light dark;

  /* color variables for ease of use */
  --light-bg: #ffffff;
  --light-color: #000000;
  --light-header-bg: #bbbbbb;
  --light-main-bg: #cccccc;

  --dark-bg: #222222;
  --dark-color: #fafafa;
  --dark-header-bg: #333333;
  --dark-main-bg: #444444;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

header {
  background-color: light-dark(var(--light-header-bg), var(--dark-header-bg));
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

main {
  display: grid;
  grid-template-areas: 
    "a a b c"
    "a a d d"
    "e e f f"
    "g g f f";
  grid-template-columns: 4fr 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 1fr 1fr;
  gap: 5px;
  width: 80%;
  margin: 10px auto;
}

.display {
  grid-area: a;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
  aspect-ratio: 5/3;
}

.scopeData {
  grid-area: e;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
}

.scopeSettings {
  grid-area: g;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
}

.channel1 {
  grid-area: b;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
}

.channel2 {
  grid-area: c;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
}

.trigger {
  grid-area: d;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
}

.generator {
  grid-area: f;
  background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
}